# Prisma Connection String
# Reemplaza con el valor proporcionado en tu dashboard de Prisma Postgres
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Vercel Postgres (Compatible si usas la integración directa)
POSTGRES_URL="postgresql://user:password@host:port/database?sslmode=require"
